* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(30, 4, 48);
    display: flex;
    
    
}

.calculator {
    background-color: rgb(12, 88, 124);
    padding: 60px;
    height: 430px;
    border-radius: 70px;
    width: 300px;
    
}
input{
    width: 110%;
    padding: 20px;
    margin-bottom: 30px;
    height: 20px;
    border-radius: 30px;
    color: rgb(137, 207, 6);

}

.calc-button {
    display: flex;
    justify-content: space-between;
}

input{
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    height: 20px;
    background-color: rgb(30, 4, 48);

}

.calc-button {
    display: flex;
    justify-content: space-between;
}

.calc-button button {
    flex-basis: 350px;
    padding: 10px;
    border-radius: 25px;
    margin: 3px;
    color: rgb(57, 235, 12);
    background-color: rgb(30, 4, 48);
    transition: background-color 0,3s ease;
}

button:hover{
    background-color: rgb(8, 96, 102);
}

